<% provide(:title, @product.name) %>
<p>
   <strong>Name</strong> <%= @product.name %><br />
   <strong>Amount</strong><%= @product.amount%><br />
   <strong>Comment</strong><%= @product.comment%><br />
</p>
