<footer class="footer">
  <small>
   Internal Applicaton for <a href="http://www.apexfoodcompany.com">Apex Food Company
  </small>
  <nav>
    <ul>
      <li><%= link_to "About" , '#'%></li>
    </ul>
  </nav>
</footer>
