<footer class="footer">
  <small>
   Internal Applicaton for <a href="http://www.apexfoodcompany.com">Apex Food Company
  </small>
  <nav>
    <ul>
      <li><%= link_to "About" , '#'%></li>
      <% if current_user && current_user.admin? %>
        <li><%= link_to "Admin" , user_path(current_user) %></li>
      <% end %>
    </ul>
  </nav>
</footer>
